pymongo[srv]==3.12
python-dotenv
fastapi
google-auth
google-auth-oauthlib
uvicorn
python-jose
motor
requests
pydantic
httpx
beautifulsoup4
playwright
langchain
langchain-community
langchain-ollama
google-search-results
html2text
diffusers
torch
transformers
accelerate